<div class="header-top-row">
    <button class="menu-toggle-btn">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><line x1="3" y1="12" x2="21" y2="12"/><line x1="3" y1="6" x2="21" y2="6"/><line x1="3" y1="18" x2="21" y2="18"/></svg>
    </button>
    
    <div class="logo">LA TABERNA</div>
    
    <div class="icons-container">
        <div class="cart-icon-container">
            <span id="cart-count-value" class="cart-count">0</span>
            <span class="cart-icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><circle cx="9" cy="21" r="1"/><circle cx="20" cy="21" r="1"/><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"/></svg>
            </span> 
        </div>
    </div>
</div>

<nav class="header-nav">
    <ul>
        <li><a href="#">INICIO</a></li>
        <li><a href="#">RON</a></li>
        <li><a href="#">WHISKY</a></li>
        <li><a href="#">BURBUJAS</a></li>
        <li><a href="#">VINO</a></li>
        <li><a href="#">TEQUILA</a></li>
        <li><a href="#">GIN</a></li>
        <li><a href="#">VODKA</a></li>
        <li><a href="#">PISCO</a></li>
        <li><a href="#">OTROS</a></li>
        <li><a href="#">PACKS</a></li>
        <li><a href="#">NEGOCIOS</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">CAMPAÑA NAVIDAD</a></li>
    </ul>
</nav>