/* src/public/modules/layout/header/header.responsive.css */

/* Escritorio Grande */
@media (min-width: 1024px) {
    .header-top-row {
        padding: 10px 40px;
    }
    
    .search-input-wrapper input {
        font-size: 1rem;
        padding: 12px 12px 12px 45px;
    }
}

/* Móvil */
@media (max-width: 600px) {
    .header-top-row {
        padding: 10px;
        gap: 10px;
    }
    
    /* El input ocupa el espacio restante automáticamente por flex-grow */
}