/* src/public/main.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables de diseño */
:root {
    --primary-color: #000000; /* Negro */
    --secondary-color: #0d0d0d; /* Negro Muy Oscuro */
    --text-color: #333333; /* Gris oscuro para texto general */
    --background-color: #ffffff; /* Fondo BLANCO */
    --card-bg: #ffffff; /* Fondo de tarjetas BLANCO */
    
    /* CAMBIO: Actualizamos la fuente global */
    --font-family: "Josefin Sans", sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos de Botones Globales */
button {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
    font-family: var(--font-family); /* Aseguramos que los botones hereden la fuente */
}

/* --- Contenedor de Banners Superiores --- */
#top-banners {
    width: 100%;
    height: 350px; 
    background-color: #e0e0e0; 
    overflow: hidden;
    margin-bottom: 30px; 
}

/* Contenido Principal */
#app-content {
    flex-grow: 1;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Footer */
#main-footer {
    text-align: center;
    padding: 15px 20px;
    background-color: var(--primary-color); 
    color: #fff;
    font-size: 0.9em;
}

.empty-grid-msg {
    text-align: center;
    margin-top: 50px;
    font-size: 1.2em;
    color: #a0a0a0;
}