/* src/public/main.css */

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables de diseño */
:root {
    --primary-color: #f59e0b; /* Dorado/Amarillo */
    --secondary-color: #1f2937; /* Gris Oscuro para el header, similar al ejemplo */
    --text-color: #262626;
    --background-color: #fafaf9;
    --card-bg: #ffffff;
    --font-family: sans-serif;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos de Botones Globales */
button {
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

/* Contenido Principal */
#app-content {
    flex-grow: 1;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* Footer */
#main-footer {
    text-align: center;
    padding: 15px 20px;
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 0.9em;
}

.empty-grid-msg {
    text-align: center;
    margin-top: 50px;
    font-size: 1.2em;
    color: #71717a;
}